<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORTNITE MANIA</title>
    <script src="https://kit.fontawesome.com/5af6d749d4.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <div class="home-btn-div">
          <button class="home-btn"><a href="/"><i class="fas fa-home home-icon"></a></i></button>
          <button class="ham-btn"><i class="fas fa-bars icon-btn ham-icon"></i></button>
        </div>
      <nav>
      <%if(logged) {%>
        <div class="modal modal-login">
          <div class="modal-content">
            <div class="modal-header">
              <a href="/user/logout" class="log-out">Logout</a>
              <h1><a href="/user/<%=userID%>">Account</a></h1>
            </div>
          </div>
        </div>
      <%}%>
      <%if(!logged) {%>
        <div class="modal modal-login">
          <div class="modal-content">
              <div class="modal-header">
              <h1>Log In</h1>
              </div>
              <div class="modal-body">
                  <form action="/user/login" method="POST" class="form">
                      <input type="text" name="name" placeholder="name">
                      <input type="password" name="password" placeholder="password">
                      <button class="log-in-modal btn">Log In</button>
                  </form>
                  <button class="sign-up-btn btn">sign up</button>
              <div class="modal modal-signup">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1>Sign Up</h1>
                  </div>
                  <div class="modal-body">
                    <form action="/user/signup" method="POST" class="form">
                      <input type="text" name="name" placeholder="name">
                      <input type="email" name="email" placeholder="email">
                      <input type="password" name="password" placeholder="password">
                      <input type="password" name="passwordcheck" placeholder="password check">
                      <button class="sign-up-modal btn">Sign Up</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </nav>
    <h1>FORTNITE MANIA </h1>
    </header>
    <main>
      <div class="filter-div">
        <input type="text" name="search" placeholder="search for video">
      </div>
      <section>
        <article class="popular">
          <div class="popular-vid">
            <iframe src="https://youtube.com/embed/<%=likedVideo.url%>" class="main-vid"></iframe>
            <div class="info-div">
               <span><%=likedVideo.title%></span>
              <%if(!logged) {%>
                <span class="like-btn"><i class="fas fa-thumbs-up"><%=likedVideo.likes.length%></i></span>
                <span class="dislike-btn"><i class="fas fa-thumbs-down"><%=likedVideo.dislikes.length%></i></span>
                <%} else {%>
                <form action="/video/<%=likedVideo._id%>/like?_method=PUT" method="POST">
                <button class="like-btn"><i class="fas fa-thumbs-up"><%=likedVideo.likes.length%></i></button>
                </form>
                <form action="/video/<%=likedVideo._id%>/dislike?_method=PUT" method="POST">
                <button class="dislike-btn"><i class="fas fa-thumbs-down"><%=likedVideo.dislikes.length%></i></button>
                </form>
                <%}%>
              </div>
            </div>
          </div>
          <div class="popular-user">
          <h1><%=user.name%></h1>
          <ul>
            <%for(let i = 0; i < user.videos.length; i ++) {%>
                <li><a href="/video/<%=user.videos[i]._id%>"><%=user.videos[i].title%></a></li>
            <%}%>
          </ul>
          </div>
        </article>
        <article class="scroll">
          <div class="scrollmenu">
            <%for(let i = 0; i < videos.length; i++) {%>
              <div class="vid-container">
                <div class="vid-player"><iframe src="https://youtube.com/embed/<%=videos[i].url%>" class="side-vid"></iframe></div>
                <div class="title-div">
                    <h2><a href="/video/<%=videos[i]._id%>"><%= videos[i].title %></a></h2>
                    <h2><%=videos[i].user%></h2>

                </div>
              </div>
            <%}%>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="socialmedia">
        <a href="https://www.epicgames.com/fortnite/en-US/play-now/battle-royale?utm_source=GoogleSearch&utm_medium=Search&utm_campaign=an*Internal_pr*FNBR_ct*C_pl*SearchBrand_co*US_cr*exact&utm_id=1698686527&utm_content=buildbattlewin_playfree&utm_term=fortnite&gclid=CjwKCAjw-ITqBRB7EiwAZ1c5U271SYFKmSQ9FgA-Wbcbw-vfg8pKMqZ5Vq8cBw41IwB6o_phqZbsjRoCsRsQAvD_BwE"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.epicgames.com/fortnite/en-US/play-now/battle-royale?utm_source=GoogleSearch&utm_medium=Search&utm_campaign=an*Internal_pr*FNBR_ct*C_pl*SearchBrand_co*US_cr*exact&utm_id=1698686527&utm_content=buildbattlewin_playfree&utm_term=fortnite&gclid=CjwKCAjw-ITqBRB7EiwAZ1c5U271SYFKmSQ9FgA-Wbcbw-vfg8pKMqZ5Vq8cBw41IwB6o_phqZbsjRoCsRsQAvD_BwE"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.epicgames.com/fortnite/en-US/play-now/battle-royale?utm_source=GoogleSearch&utm_medium=Search&utm_campaign=an*Internal_pr*FNBR_ct*C_pl*SearchBrand_co*US_cr*exact&utm_id=1698686527&utm_content=buildbattlewin_playfree&utm_term=fortnite&gclid=CjwKCAjw-ITqBRB7EiwAZ1c5U271SYFKmSQ9FgA-Wbcbw-vfg8pKMqZ5Vq8cBw41IwB6o_phqZbsjRoCsRsQAvD_BwE"><i class="fab fa-instagram"></i></a>
        <a href="https://www.epicgames.com/fortnite/en-US/play-now/battle-royale?utm_source=GoogleSearch&utm_medium=Search&utm_campaign=an*Internal_pr*FNBR_ct*C_pl*SearchBrand_co*US_cr*exact&utm_id=1698686527&utm_content=buildbattlewin_playfree&utm_term=fortnite&gclid=CjwKCAjw-ITqBRB7EiwAZ1c5U271SYFKmSQ9FgA-Wbcbw-vfg8pKMqZ5Vq8cBw41IwB6o_phqZbsjRoCsRsQAvD_BwE"><i class="fab fa-reddit-square"></i></a>
      </div>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
