<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FORTNITE MANIA</title>
    <script src="https://kit.fontawesome.com/5af6d749d4.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <div class="home-btn-div">
          <button class="home-btn"><a href="/"<i class="fas fa-home hamburger"></a></i></button>
          <button class="ham-btn"><i class="fas fa-bars hamburger"></i></button>
        </div>
      <nav>
      <%if(logged) {%>
        <div class="modal modal-login">
          <div class="modal-content">
            <div class="modal-body">
              <a href="/user/logout" class="log-out">Logout</a>
              <h2><a href="/user/<%=userID%>">Account</a></h2>
            </div>
          </div>
        </div>
      <%}%>
      <%if(!logged) {%>
        <div class="modal modal-login">
          <div class="modal-content">
              <div class="modal-header">
              <h1>Log In</h1>
              </div>
              <div class="modal-body">
                  <form action="/user/login" method="POST" class="form">
                      <input type="text" name="name" placeholder="name">
                      <input type="password" name="password" placeholder="password">
                      <button class="log-in-modal btn">Log In</button>
                  </form>
                  <button class="sign-up-btn btn">Sign up</button>
              <div class="modal modal-signup">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1>Sign Up</h1>
                  </div>
                  <div class="modal-body">
                    <form action="/user/signup" method="POST" class="form">
                      <input type="text" name="name" placeholder="name">
                      <input type="email" name="email" placeholder="email">
                      <input type="password" class="password" name="password" placeholder="password">
                      <input type="password" class="passwordcheck" name="passwordcheck" placeholder="password check">
                      <span class="mismatch"></span>
                      <button class="sign-up-modal btn">Sign Up</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </nav>
    <h1>FORTNITE MANIA </h1>
    </header>
    <main>
      <div class="filter-div">
        <input type="text" name="search" placeholder="search for video">
      </div>
      <section>
        <article>
            <div class="popular-div">
            </div>
            <div class="popular-video">
                <iframe src="https://youtube.com/embed/<%=likedVideo.url%>"></iframe>
                <div class="info-div">
                  <span><%=likedVideo.title%></span>
                  <%if(!logged) {%>
                  <span class="like-btn"><i class="fas fa-thumbs-up"><%=likedVideo.likes.length%></i></span>
                  <span class="dislike-btn"><i class="fas fa-thumbs-down"><%=likedVideo.dislikes.length%></i></span>
                  <%}%>
                  <%if(logged) {%>
                  <form action="/video/<%=likedVideo._id%>/like?_method=PUT" method="POST">
                  <button class="like-btn"><i class="fas fa-thumbs-up"><%=likedVideo.likes.length%></i></button>
                  </form>
                  <form action="/video/<%=likedVideo._id%>/dislike?_method=PUT" method="POST">
                  <button class="dislike-btn"><i class="fas fa-thumbs-down"><%=likedVideo.dislikes.length%></i></button>
                  </form>
                  <%}%>
                </div>
            </div>
          </div>
        </article>
        <article class="horizontal-scroll">
          <div class="scrollmenu">
            <%for(let i = 0; i < videos.length; i++) {%>
              <div class="vid-container">
                <div class="video-player"><iframe src="https://youtube.com/embed/<%=videos[i].url%>"></iframe></div>
                <div class="title-div"><a href="/video/<%=videos[i]._id%>"><%= videos[i].title %></a></div>
              </div>
            <%}%>
          </div>
        </article>
      </section>
    </main>
    <script src="js/app.js"></script>
  </body>
</html>
