<!DOCTYPE html>
<html>
<head>
    <title><%=user.name%>'sAccount</title>
    <script src="https://kit.fontawesome.com/5af6d749d4.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
        <div class="home-btn-div">
            <button class="home-btn"><a href="/"<i class="fas fa-home hamburger"></a></i></button>
            <button class="ham-btn"><i class="fas fa-bars hamburger"></i></button>
        </div>
        <div class="modal modal-account">
          <div class="modal-content">
                <div class="modal-header">
                    <a href="/user/logout" class="log-out">Logout</a>
                    <h1>Account</h1>
                </div>
                <div class="modal-body modal-account">
                    <form action="/user/<%=user._id%>?_method=PUT" method="POST" class="edit-form form">
                        <input type="text" name="name" value="<%=user.name%>"/><br/>
                        <input type="email" name="email" value="<%=user.email%>"/><br/>
                        <input type="password" name="password" placeholder="password"/><br/>
                        <input type="password" name="passwordcheck" placeholder="password check"/><br/>
                        <input type="text" name="pic" placeholder="pic" value="<%=user.pic%>"/><br/>
                        <button class="submit-btn btn">Edit</button>
                    </form>
                    <button class="edit-btn btn">Edit</button>
                    <form action="/user/<%=user._id%>?_method=DELETE" method="POST" class="form">
                        <button class=" delete-btn btn">Delete</button>
                    </form>
              </div>
          </div>
        </div>
        <h1><%=user.name%></h1>
    </header>
    <main>
        <section>
            <article class="center-art">
                <div class="user-vid">
                    <%if (likedVideo) {%>
                    <iframe src="<%=likedVideo.url%>"></iframe>
                    <div class="info-div">
                        <span><%=likedVideo.title%></span>
                        <span><i class="fas fa-thumbs-up">:<%=likedVideo.likes.length%></i></span>
                        <span><i class="fas fa-thumbs-down">:<%=likedVideo.dislikes.length%></i></span>
                    </div>
                    <div>
                        <ul>
                            <%for(let i = 0; i < likedVideo.comments; i ++){%>
                                <li><%=likedVideo[i].comments%></li>
                            <%}%>
                        </ul>
                    </div>
                    <%}%>
                </div>
            </article>
            <article>
                <h1><%=user.name%> video list</h1>
                <ul>
                    <%for(let i = 0; i < userVideos.videos.length; i++) {%>
                        <li class="user-vid-list">
                            <h1><%=userVideos.videos[i].title%></h1>
                            <form action="/video/<%=userVideos.videos[i]._id%>?_method=DELETE" method="POST">
                                <button class="">Delete</button>
                            </form>
                        </li>
                    <%}%>
                </ul>
                <button class="upload-btn">Upload</button>
                <div class="modal modal-upload">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Upload your Video!</h1>
                        </div>
                        <div class="modal-body">
                            <form action="/video/<%=user._id%>" method="POST" class="form">
                                <input type="text" name="user" value="<%=user.name%>" class="upload-creator"/>
                                <input type="text" name="url" placeholder="url"/>
                                <input type="text" name="title" placeholder="title"/>
                                <input type="text" name="info" placeholder="info"/>
                                <input type="text" name="tags" placeholder="tags"/>
                                <button class="submit-btn btn">Upload Video</button>
                             </form>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
    </footer>
<script src="/js/userIndex.js"></script>
</body>
</html>
