<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
        <h1><%=user.name%></h1>
    </header>
    <main>
        <section>
            <article>
                <video>
                </video>
                <div>
                    <span></span>
                    <span></span>
                </div>
            </article>
            <article>
                <ul>
                    <%for(let i = 0; i < videos.length; i++) {%>
                        <li>
                            <h1><%=videos[i].title%></h1>
                            <form action="/video/<%=videos[i]._id%>?_method=DELETE" method="POST">
                                <button>Delete</button>
                            </form>
                        </li> 
                    <%}%>       
                </ul>
                <button class="upload-btn">Upload</button>
                <div class="modal modal-upload">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Upload your Video!</h1>
                        </div>
                        <div class="modal-body">`
                            <form action="/video/<%=user._id%>" method="POST">
                                <input type="text" name="user" value="<%=user.name%>" class="upload-creator">
                                <input type="text" name="url" placeholder="url">
                                <input type="text" name="title" placeholder="title">
                                <input type="text" name="info" placeholder="info">
                                <button class="">UpLoad</button>
                             </form>
                        </div>
                    </div>
                </div>
            </article>
            <div>
            </div>
        </section>
    </main>
    <footer>
        <button class="account-btn">Account</button>
        <div class="modal modal-account">
          <div class="modal-content">
                <div class="modal-header">
                    <h1>Account</h1>
                </div>
                <div class="modal-body">
                    <a href="/user/logout">Logout</a>
                    <form action="/user/<%=user._id%>?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>
                    <form action="/user/<%=user._id%>?_method=PUT" method="POST" class="edit-form">
                        <input type="text" name="name" value="<%=user.name%>"/><br/>
                        <input type="email" name="email" value="<%=user.email%>"/><br/>
                        <input type="password" name="password" placeholder="password"/><br/>
                        <input type="password" name="passwordcheck" placeholder="password check"/><br/>
                        <input type="text" name="pic" value="<%=user.pic%>"/><br/>
                        <button>Edit</button>
                    </form>
              </div>
          </div>
        </div>
    </footer>
<script src="/js/userIndex.js"></script>  
</body>
</html>
