<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>fortnite</title>
    <script src="https://kit.fontawesome.com/5af6d749d4.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="home-btn-div">
        <button class="home-btn"><a href="/"<i class="fas fa-home hamburger"></a></i></button>
        <button class="ham-btn"><i class="fas fa-bars hamburger"></i></button>
      </div>  
      <div class="modal modal-login">
        <div class="modal-content">
          <div class="modal-body">
            <a href="/user/logout" class="log-out">Logout</a>
            <h2><a href="/user/<%=userID%>">Account</a></h2>
          </div>
        </div>
      </div>
    </header>
    <main>
      <article>
        <div>
          <iframe src="https://youtube.com/embed/<%=likedVideo.url%>"></iframe>
          <div class="info-div">  
            <span><%=likedVideo.title%></span>
            <span><i class="fas fa-thumbs-up">:<%=likedVideo.likes.length%></i></span>
            <span><i class="fas fa-thumbs-down">:<%=likedVideo.dislikes.length%></i></span>
          </div>
        </div>
        <div class="show-comments">
        </div>
      </article>
      <aside>
      </aside>
    </main>
    <footer>
    </footer>
    <script src="js/videoShow.js"></script>
  </body>
</html>

